<%- include('header'); %>
  <section class="buy-car-section">
    <div class="row buy-car-row">
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
      <div class="col-lg-4">
        <img src="images/car4.jfif" alt="" class="buy-car-img">
        <h2>Car 1</h2>
      </div>
    </div>
  </section>
<%- include('footer'); %>
