<%- include('header'); %>
  <h1 class="buy-car-title">Cars for Sale</h1>
  <section class="buy-car-section">
    <div class="row buy-car-row">
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
      <a href="#" class="buy-car-a">
        <div class="col-lg-3 col-md-4 col-sm-6 buy-car-col">
          <img src="images/car7.jpg" alt="Image not Loaded" class="buy-car-img">
          <h2 class="buy-car-name">Car 7</h2>
        </div>
      </a>
    </div>
  </section>
<%- include('footer'); %>
