    </body>
        <!-- footer for the webpage -->
    <footer class="social-contacts">
        <div class="social-icons">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
         </div>
         <small>© Apex 2020. All Rights Reserved</small>
    </footer>
</html>
