<%- include('header'); %>
<section class="sell-car-form">
    <div class="sell-car-title">
        <h1>Tell us about your car</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!-- seller information section of the form -->
    <div class="sell-car-info">
        <span class="span-decor"></span>
        <h3>Your Info</h3>
        <form class="" action="/" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">Your Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Full name" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="state">State</label>
                        <select id="state" class="form-control" required>
                            <option selected value="" disabled>Select Your State</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="city">City</label>
                        <input type="text" id="city" class="form-control" placeholder="Eg: Seattle" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="zipcode">Zip Code</label>
                        <input type="text" class="form-control" id="zipcode" pattern="\d{5}(-\d{4})?" placeholder="Eg: 00000 or 00000-0000"required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="phone">Phone Number</label>
                        <input type="tel" class="form-control" id="phone" pattern="[0-9]{10}" placeholder="Eg: 1234567890" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="e-mail" required>
                    </div>
                </div>
            </div>

            <span class="span-decor"></span>
            <h3>Car details</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <label for="make">Make</label>
                        <input type="text" class="form-control" id="make" placeholder="Eg: Shelby" required>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" placeholder="Eg: Cobra 427" required>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="model-year">Model Year</label>
                        <input type="text" class="form-control" id="model-year" placeholder="Eg: 1966" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <label for="engine">Engine</label>
                        <input type="text" class="form-control" id="engine" placeholder="Eg: 4.7L Ford V8" required>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="transmission">Transmission</label>
                        <input type="text" class="form-control" id="transmission" placeholder="Manual" required>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="milage">Milage</label>
                        <input type="number" class="form-control" id="milage" placeholder="KM" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <label for="body-type">Body Type</label>
                        <select class="form-control" id="body-type">
                            <option selected value="" disabled>--Select--</option>
                            <option value="Hatchback">Hatchback</option>
                            <option value="Sedan">Sedan</option>
                            <option value="SUV">SUV</option>
                            <option value="Station Wagon">Station Wagon</option>
                            <option value="Coupe">Coupe</option>
                            <option value="Convertible">Convertible</option>
                            <option value="Truck">Truck</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="drivetrain">Drivetrain</label>
                        <select class="form-control" id="drivetrain">
                            <option selected value="" disabled>--Select--</option>
                            <option value="Front-Wheel Drive">Front-Wheel Drive</option>
                            <option value="Rear-Wheel Drive">Rear-Wheel Drive</option>
                            <option value="All-Wheel Drive">All-Wheel Drive</option>
                            <option value="4X4">4X4</option>
                            <option value="6X6">6X6</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="modifications">Any Modifications</label>
                        <select class="form-control" id="modifications">
                            <option selected value="" disabled>--Select--</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <label for="exterior-color">Exterior Color</label>
                        <input type="text" class="form-control" id="exterior-color" required>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="interior-color">Interior Color</label>
                        <input type="text" class="form-control" id="interior-color" required>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label for="previous-owners">Previous Owners</label>
                        <input type="number" class="form-control" id="previous-owners" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="features">Noteworthy Options/Features</label>
                        <textarea id="features" rows="5" cols="80" class="form-control"></textarea>
                    </div>
                </div>
            </div>


            <span class="span-decor"></span>
            <h3>Photos</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-auto drop-photo-cols">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-auto drop-photo-cols">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-auto drop-photo-cols">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-auto drop-photo-cols">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-auto drop-photo-cols">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-auto drop-photo-cols">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                </div>
            </div>
            <button type="Submit" class="btn btn-large btn-primary sell-car-submit" name="button">Submit</button>
        </form>
    </div>
