<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 col-sm-6 drop-photo-cols">
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                        <input type="file" name="myFile" accept="image/*" class="drop-zone__input">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 drop-photo-cols">
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                        <input type="file" name="myFile" class="drop-zone__input">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 drop-photo-cols">
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                        <input type="file" name="myFile" class="drop-zone__input">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 drop-photo-cols">
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                        <input type="file" name="myFile" class="drop-zone__input">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 drop-photo-cols">
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                        <input type="file" name="myFile" class="drop-zone__input">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 drop-photo-cols">
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop photo here or click here to upload</span>
                        <input type="file" name="myFile" class="drop-zone__input">
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="upload">
    </form>



    
</body>
</html>